# Backend
DATABASE_URL=mongodb://mongo:27017/moviebooking
JWT_SECRET=iybg2v25uhqb2h50b2h80529v2u58oq34
STRIPE_SECRET_KEY= STRIPE_SECRET_KEY
API_BASE_URL=http://localhost:5000
CLIENT_URL=http://localhost:5173
VITE_API_BASE_URL=https://bookaro-u33c.onrender.com

